@import "variables";
html {
  overflow: auto !important;
}

.v-application {
  font-weight: 100;
}  .s-em {
  &_14 {
    font-size: 14em;
    &i {
      font-size: 14em !important;
    }
  }
  &_4 {
    font-size: 4em;
  }
  &_5 {
    font-size: 5em;
  }
}
